include ../blocks/data_header

.header
  .container
    .header__wrap
      .header__logo
        a(href='#')
          img(src="./images/logo.png")
      nav.header__nav
        .header__nav-mobile
          a#nav__toggle(href='#!')
            span
        ul.header__nav-list
          each list in menus
            li.list__item
              if list.submenu
                a.item__menu-products(href='#')= list.name
                  i.fas.fa-chevron-down
                .header__nav-dropdown
                  .arrow__up
                  .row
                    each sublist in list.submenu
                      .col-sm-12.col-md-4.col-lg-4.col-xl-4
                        p.menu__title= sublist.title_name
                          ul.list__item-child
                            each item in sublist.submenu_item
                              li
                                a.item__menu-products(href=item.link)= item.name
              else
                a(href=list.link)= list.name

      .header__icon
        button.header__icon-cart
          i.fas.fa-shopping-cart
          .product__list
            .arrow__up
            each product in products
              .product__list-item
                img(src=product.image)
                .product__content
                  p.product__content-title= product.name
                  p.product__content-price= product.price
                    span.price__icon đ
                .product__remove
                  i.fas.fa-plus
            .product__list-total
              p.total__title Tổng số
              p.total__price 240.000
                span.price__icon đ
            a.btn__cart GIỎ HÀNG
        button.header__icon-search
          i.fas.fa-search